.history-container {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 0;
}

.first-column {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.calendar-container {
    width: 25vw;
    height: 80%;
}

.executions-container {
    height: 100%;
}

.projects-container {
    width: 25vw;
    height: 100%;
    background-color: thistle;
}

.code-container {
    width: 50vw;
    height: 100%;
    background-color: slateblue;
}

