.history-container {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.first-column {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.calendar-container {
    width: 25vw;
    height: 80%;
}

.executions-container {
    height: 100%;
}

.projects-container {
    border-left: 5px solid white;
    width: 25vw;
    height: 100%;
}

.code-container {
    border-left: 5px solid white;
    width: 50vw;
    height: 100%;
    /* background-color: slateblue; */
}

